@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Lato", sans-serif;
  @apply bg-snow;
}
.form-input {
  @apply border-2 border-zinc-200 w-full h-10 rounded-md mt-1 px-2 focus:border-light-500 transition-all duration-200 ease-out outline-none text-dark-400;
}
.form-input-layout {
  @apply border-2 border-zinc-200 w-full h-10 rounded-md mt-1 focus-within:border-light-500 transition-all duration-200 ease-out outline-none text-dark-400 overflow-hidden;
}
.form-input-shape {
  @apply px-2 focus-visible:outline-none w-full h-full;
}

.login-pages-container {
  @apply h-screen grid place-items-center lg:grid-cols-3;
}
.login-container {
  @apply backdrop-blur-sm bg-slate-800/40 text-white mx-auto rounded-lg py-8 px-4 flex flex-col gap-y-2 text-center w-login-form;
}
.loginBg {
  background-image: url("../assets/bg-phone.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @apply h-screen;
}
