@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Lato", sans-serif;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  @apply border-2 border-zinc-300 w-full h-10 rounded-md mt-1 px-2 focus:border-light-500 transition-all duration-200 ease-out outline-none text-dark-400;
}
@media (max-width: 1024px) {
  button {
    pointer-events: none !important;
  }
}
.loginBg {
  background-image: url("../assets/bg-vector.avif");
}
