@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}
input[type="text"] {
  @apply border-2 border-zinc-300 w-full h-10 rounded-md mt-1 px-2 focus:border-zinc-800 transition-all duration-200 ease-out;
}
@media (max-width: 1024px) {
  button {
    pointer-events: none !important;
  }
}
.loginBg {
  background-image: url("../assets/bg-vector.avif");
}
